$dark-color: lighten(map-get($colors, 'dark'), 10%);
$shadow-color: lighten(map-get($colors, 'dark'), 60%);

page-result {
  .shadow-title {
    color: $shadow-color;
  }

  .content-format {
    color: $dark-color;
  }

  .not-supported {
    color: $shadow-color;
    font-style: italic;
  }

  .buttons {
    width: 100%;

    & > button {
      margin: .75em 0;
    }
  }

  .result {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    font-size: 20px;

    & .icon {
      margin: 0 .5em 0 0;
    }

    .result-text {
      overflow: auto;
      word-break: break-all;
    }
  }

  .hidden {
    display: none;
  }

  .scroll-content {
    display: flex;
    flex-flow: column nowrap;
  }
}
