$dark-color: lighten(map-get($colors, 'dark'), 10%);

page-result {
  .content-format {
    color: $dark-color;
  }

  .buttons {
    bottom: 0;
    position: absolute;
    width: 100%;

    & > button {
      margin: .75em 0;
    }
  }

  .result {
    font-size: 20px;
  }
}
