$dark-color: lighten(map-get($colors, 'dark'), 10%);
$shadow-color: lighten(map-get($colors, 'dark'), 60%);

page-home {
  .app-title > div {
    color: $dark-color;
  }

  ion-content {
    ion-icon {
      font-size: 5em;
    }

    .scroll-content {
      color: $dark-color;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
    }
  }

  .back-text {
    bottom: 8px;
    color: $shadow-color;
    font-style: italic;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
