page-home {
  .app-title > div {
    color: lighten(map-get($colors, 'dark'), 20%);
  }

  ion-content {
    ion-icon {
      font-size: 5em;
    }

    .scroll-content {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
    }

  }
}
